@inherits LayoutComponentBase

<SiteNav />
<main class="container">
@Body
</main>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<footer class="container" data-theme="dark">
    <hr />
    <ul>
        <li>Based on the Blazor 8 (Empty) template.</li>
        <li>Using the <a href="https://picocss.com/" target="_blank">PicoCSS</a> No-Class Stylesheet.</li>
        <li><a target="_blank" href="https://icons8.com/icon/eTJ3Q9REJ1nH/internet">Internet</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>.</li>          
    </ul>
    <p>&copy; 2024 - Instructor Dan</p>
</footer>


