<nav class="container-fluid">
    <ul>
        <li><img alt="logo" src="/Images/stick-man-walking.png" style="height:79px" /></li>
        <li><strong>Weather System</strong></li>
    </ul>
    <ul>
        <li><a href="/"><i class="las la-home"></i> Home</a></li>
        <li><NavLink href="/ViewHistoricalWeather"><i class="las la-calendar"></i> View Historical Weather</NavLink></li>
        <li><NavLink href="/RecordLocalWeather"><i class="las la-temperature-low"></i> Record Local Weather</NavLink></li>
    </ul>
</nav>