<nav class="container-fluid">
    <ul>
        <li><img alt="logo" src="/Images/icons8-database-64.png" /></li>
        <li><strong>Blazor 8</strong></li>
    </ul>
    <ul>
        <li><a href="/"><i class="las la-home"></i> Home</a></li>
        <li>
            <details class="dropdown">
                <summary><i class="las la-edit"></i> Products</summary>
                <ul dir="ltr">
                    <li><a href="/Product/Index"><i class="las la-info"></i> Product Catalog</a></li>
                    <li><a href="/Product/Edit"><i class="las la-file-contract"></i> Edit Product</a></li>
                </ul>
            </details>
        </li>
        <li><a href="/About"><i class="las la-info"></i> About</a></li>
    </ul>
</nav>