@page "/HtmlTags/buttons"
@* textual radiocheck dates dropdown *@
@rendermode InteractiveServer

<PageTitle></PageTitle>

<h1>About</h1>
<p>Describe. <i>Click the accordian titles below to view each demo.</i></p>
<article>
    <details>
        <summary role="button" class="secondary">Sample</summary>
        <fieldset role="group">
            <input type="text">
            <button type="button" @onclick="ProcessX">Process</button>
        </fieldset>
        @code {
            private void ProcessX()
            {

            }
        }
        <blockquote>
            
            <footer><cite>&ndash; Output will appear above</cite></footer>
        </blockquote>
    </details>
</article>

