@page "/"
@rendermode InteractiveServer
@using InventorySystem
@using Microsoft.AspNetCore.Components.QuickGrid

<PageTitle>Home</PageTitle>

<h1>Hello, Q2 Preppers!</h1>

<p>Welcome to this project that will serve as a good prep for Quiz 2 coding. This practice project models the first version of a simple <i>inventory</i> system. Follow these general instructions to complete two pages: The <a href="/ProductCatalog">Product Catalog</a> component and the <a href="/ProductForm">Product Form</a> component.</p>

<p>The <b>Product Catalog</b> is a page where you are to load all the product information from the <code>"./Data/Products.tsv"</code> file and present them in a tabular display.</p>

<figure>
    <img src="/Images/ProductCatalog.png" alt="Product Catalog">
    <figcaption>Sample Product Catalog Page</figcaption>
</figure>

<hr />

<p>The <b>Product Form</b> is a page where you create a form for the user to enter in product information that can be appended to the <code>"./Data/Products.tsv"</code> file.</p>

<figure>
    <img src="/Images/ProductForm.png" alt="Product Form">
    <figcaption>Sample Product Form Page</figcaption>
</figure>
