@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<ul>
    <li><NavLink href="/ViewHistoricalWeather">View Historical Weather</NavLink></li>
    <li><NavLink href="/RecordLocalWeather">Record Local Weather</NavLink></li>
</ul>
