<nav class="container-fluid">
    <ul>
        <li><strong>Blazor 8</strong></li>
        <li>
            @* <img alt="logo" src="/Images/icons8-warehouse-96-orange.png" /> *@
            <picture>
                <source srcset="/Images/icons8-trolley-100-solid-white.png" media="(prefers-color-scheme:dark)">
                <img src="/Images/icons8-trolley-100-solid-black.png">
            </picture>
        </li>
    </ul>
    <ul>
        <li><a href="/"><i class="las la-home"></i> Home</a></li>
        <li><a href="/ProductCatalog"><i class="las la-box"></i> Create Product</a></li>
        <li><a href="/ProductForm"><i class="las la-boxes"></i> View Products</a></li>
        <li><a href="/About"><i class="las la-info"></i> About</a></li>
    </ul>
</nav>