<nav class="container-fluid">
    <ul>
        <li><img alt="logo" src="/Images/icons8-internet-laces-72.png" /></li>
        <li><strong>Blazor 8</strong></li>
    </ul>
    <ul>
        <li><a href="/"><i class="las la-home"></i> Home</a></li>
        <li>
            <details class="dropdown">
                <summary><i class="las la-edit"></i> Sample Forms</summary>
                <ul dir="ltr">
                    <li><a href="/SampleForms/ContestEntry"><i class="las la-file-contract"></i> Contest Entry</a></li>
                    <li><a href="/SampleForms/BankAccount"><i class="las la-money-check"></i> Create Bank Account</a></li>
                    <li><a href="/SampleForms/JobApplication"><i class="las la-user-tie"></i> Job Application</a></li>
                    <li><a href="/SampleForms/Registration"><i class="las la-address-card"></i> Student Enrollment</a></li>
                </ul>
            </details>
        </li>
        <li>
            <details class="dropdown">
                <summary><i class="las la-laptop-code"></i> Form Elements</summary>
                <ul dir="ltr">
                    <li><a href="/HtmlTags/textual"><i class="las la-edit"></i> Common Text Input</a></li>
                    <li><a href="/HtmlTags/radiocheck"><i class="las la-list"></i> Radio Button + Checkbox</a></li>
                    <li><a href="/HtmlTags/dates"><i class="las la-calendar"></i> Date/Time Input</a></li>
                    <li><a href="/HtmlTags/dropdown"><i class="las la-archive"></i> Select/Option</a></li>
                    <li><a href="/HtmlTags/others"><i class="las la-palette"></i> Other Input Types</a></li>
                    <li><a href="/HtmlTags/buttons"><i class="las la-power-off"></i> Buttons and Events</a></li>
                    @* <li><a href="/HtmlTags/">tbd</a></li> *@
                </ul>
            </details>
        </li>
        <li>
            <details class="dropdown">
                <summary><i class="las la-bolt"></i> MS Blazor Components</summary>
                <ul dir="ltr">
                    <li><a href="http://">Input Components</a></li>
                    <li><a href="http://">Navigation Components</a></li>
                    <li><a href="http://">HeadOutlet Rendering</a></li>
                    <li><a href="http://">tbd</a></li>
                    <li><a href="http://">tbd</a></li>
                    <li><a href="http://">tbd</a></li>
                    <li><a href="http://">tbd</a></li>
                </ul>
            </details>
        </li>
        @* 
        <i class="las la-file-csv"></i>
        
        <li><a href="/form-01"><i class="las la-wind"></i> Form 1</a></li>
        <li><a href="/form-02"><i class="las la-wind"></i> Form 2</a></li>
        <li><a href="/form-03"><i class="las la-wind"></i> Form 3</a></li>
        <li><a href="/form-04"><i class="las la-wind"></i> Form 4</a></li>
        <li><a href="/form-05"><i class="las la-wind"></i> Form 5</a></li>
        <li><a href="/form-06"><i class="las la-wind"></i> Form 6</a></li>
        <li><a href="/form-07"><i class="las la-wind"></i> Form 7</a></li>
        <li><a href="/form-08"><i class="las la-wind"></i> Form 8</a></li>
        <li><a href="/form-09"><i class="las la-wind"></i> Form 9</a></li>
        <li><a href="/form-10"><i class="las la-wind"></i> Form 10</a></li>
        <li><a href="/form-11"><i class="las la-wind"></i> Form 11</a></li>
        <li><a href="/form-12"><i class="las la-wind"></i> Form 12</a></li> *@
    </ul>
</nav>
