<nav class="container-fluid">
    <ul>
        <li><img alt="logo" src="/Images/icons8-internet-laces-72.png" /></li>
        <li><strong>Blazor 8</strong></li>
    </ul>
    <ul>
        <li><a href="/"><i class="las la-home"></i> Home</a></li>
        <li><a href="/Sandbox"><i class="las la-dice"></i> Sandbox</a></li>
        <li>
            <details class="dropdown">
                <summary><i class="las la-edit"></i> Sample Forms</summary>
                <ul dir="ltr">
                    <li><a href="/SampleForms"><i class="las la-info"></i> HTML 5 Forms</a></li>
                    <li><a href="/SampleForms/ContestEntry"><i class="las la-file-contract"></i> Contest Entry</a></li>
                    <li><a href="/SampleForms/BankAccount"><i class="las la-money-check"></i> Create Bank Account</a></li>
                    <li><a href="/SampleForms/JobApplication"><i class="las la-user-tie"></i> Job Application</a></li>
                    <li><a href="/SampleForms/Registration"><i class="las la-address-card"></i> Student Enrollment</a></li>
                </ul>
            </details>
        </li>
        <li>
            <details class="dropdown">
                <summary><i class="las la-laptop-code"></i> Form Elements</summary>
                <ul dir="ltr">
                    <li><a href="/HtmlTags/textual"><i class="las la-edit"></i> Common Text Input</a></li>
                    <li><a href="/HtmlTags/radiocheck"><i class="las la-list"></i> Radio Button + Checkbox</a></li>
                    <li><a href="/HtmlTags/dates"><i class="las la-calendar"></i> Date/Time Input</a></li>
                    <li><a href="/HtmlTags/dropdown"><i class="las la-archive"></i> Select/Option</a></li>
                    <li><a href="/HtmlTags/others"><i class="las la-palette"></i> Other Input Types</a></li>
                    <li><a href="/HtmlTags/buttons"><i class="las la-power-off"></i> Buttons and Events</a></li>
                    @* <li><a href="/HtmlTags/">tbd</a></li> *@
                </ul>
            </details>
        </li>
        <li>
            <details class="dropdown">
                <summary><i class="las la-bolt"></i> MS Blazor Components</summary>
                <ul dir="ltr">
                    <li><a href="/BlazorControls/Overview">Overview</a></li>
                    <li><a href="/BlazorControls/NavComponent">Navigation Components</a></li>
                    <li><a href="/BlazorControls/HeadOutletComponent">HeadOutlet Rendering</a></li>
                    <li><a href="/BlazorControls/InputComponents">Input Components</a></li>
                    <li><a href="/BlazorControls/FileHandling">File Upload/Download</a></li>
                    <li><a href="/BlazorControls/AboutValidation">Validation</a></li>
                    <li><a href="/BlazorControls/AboutQuickGrid">QuickGrid</a></li>
                </ul>
            </details>
        </li>
        <li><a href="/SampleForms/ContactUs"><i class="las la-question-circle"></i> Contact Us</a></li>
    </ul>
</nav>
