@page "/SampleForms/Registration"
@rendermode InteractiveServer
<PageTitle>Student Enrollment</PageTitle>

<h1>Student Enrollment</h1>
<p>Fill out the following form and click Submit.</p>

<form @onsubmit="Enroll">
    <fieldset>
        <legend>Enrollment</legend>
        <label for="firstName">First Name</label>
        <input name="firstName" type="text">
        <label for="lastName">Last Name</label>
        <input name="lastName" type="text">
        <label for="middleName">Middle Name</label>
        <input name="middleName" type="text">
        <label for="socialInsuranceNumber">Social Insurance Number</label>
        <input name="socialInsuranceNumber" type="number" min="100000000" max="999999999">
        <label for="dateOfBirth">Date of Birth</label>
        <input name="dateOfBirth" type="date">
        <label for="programOfStudy">Program of Study</label>
        <select name="programOfStudy">
            <option value="DMIT">Digital Media and Information Technology</option>
            <option value="Business">Business</option>
            <option value="Dental">Dental Hygene</option>
            <option value="EMT">Emergency Medial Technician</option>
        </select>
        <label for="schoolYear">Starting School Year</label>
        <select name="schoolYear">
            <option>2023</option>
            <option>2024</option>
            <option>2025</option>
        </select>
    </fieldset>
    <input name="submit" type="submit" value="Submit">
</form>

@if(Submitted)
{
    <article><b>TODO:</b> See if you can add functionality here to bind the user's input and give feedback.</article>
}

@code {
    private bool Submitted;
    private void Enroll(EventArgs e)
    {
        Submitted = true;
    }
}
