@page "/"

<PageTitle>Sample Forms</PageTitle>

<img src="/Images/tiny-online-education-and-virtual-learning.png" alt="Learning" style="float: right; padding: 0 20px;">

<h1>Sample Form Handling in Blazor</h1>

<p>Blazor in .NET 8 finally brings together the Server-Side and Client-Side approaches of earlier version of Blazor. All of the examples in this project make use of <a href="https://learn.microsoft.com/en-us/aspnet/core/blazor/components/render-modes?view=aspnetcore-8.0#interactive-server-side-rendering-interactive-ssr" target="_blank" rel="noopener noreferrer"><b>Interactive Server-Side Rendering</b></a> (<i>SSR</i>) and are applied to the <a href="https://learn.microsoft.com/en-us/aspnet/core/blazor/components/render-modes?view=aspnetcore-8.0#apply-a-render-mode-to-a-component-definition" target="_blank" rel="noopener noreferrer">component definition</a>.</p>
