@page "/Sandbox"
@rendermode InteractiveServer

<PageTitle>Sandbox</PageTitle>

<h1>Sandbox</h1>

<blockquote>
    Use this page as a place to test out any stand-alone Blazor components or any other interactions. This page is for <b>expermentation</b> only.
</blockquote>

@code {

}
