@page "/BlazorControls/AboutQuickGrid"
@rendermode InteractiveServer

<PageTitle>Blazor Components - QuickGrid</PageTitle>

<h1>The QuickGrid Component</h1>

<p>In Blazor .NET 8, Microsoft introduced the <code>&lt;QuickGrid&gt;</code> component. <i>Click the accordian titles below to view each demo.</i></p>

@code {

}
