@page "/BlazorControls/Overview"
@rendermode InteractiveServer

<PageTitle>Blazor Components - Overview</PageTitle>

<h1>Built-In Blazor Components <img src="/Images/favicon-blazor.png" alt=""></h1>

<p>Blazor in .NET 8 comes with a host of built-in components that make working with forms and layout extremely easy. The demos here highlight only some of the available components. For a discussion on the form components for user input, see the article <a href="https://learn.microsoft.com/en-us/aspnet/core/blazor/forms/input-components?view=aspnetcore-8.0" target="_blank" rel="noopener noreferrer">ASP.NET Core Blazor input components</a>. For a complete list of all the available components, refer to <a href="https://learn.microsoft.com/en-us/aspnet/core/blazor/components/built-in-components?view=aspnetcore-8.0" target="_blank" rel="noopener noreferrer">ASP.NET Core built-in Razor components</a>.</p>

@code {

}
