@page "/BlazorControls/Overview"
@rendermode InteractiveServer

<PageTitle>Blazor Components - Overview</PageTitle>

<h1>Built-In Blazor Components</h1>

<p>Describe. <i>Click the accordian titles below to view each demo.</i></p>

@code {

}
