@page "/BlazorControls/FileHandling"
@rendermode InteractiveServer

<PageTitle>Blazor Components - File Upload/Download</PageTitle>

<h1>File Upload/Download</h1>

<p>Describe. <i>Click the accordian titles below to view each demo.</i></p>

@code {

}
