@page "/BlazorControls/HeadOutletComponent"
@rendermode InteractiveServer

<PageTitle>Blazor Components - Injecting Content in the Head</PageTitle>

<h1>Components for Injecting <code>&lt;head&gt;</code> Content</h1>

<p>Describe. <i>Click the accordian titles below to view each demo.</i></p>

@code {

}
