@page "/BlazorControls/HeadOutletComponent"
@rendermode InteractiveServer

<PageTitle>Blazor Components - Injecting Content in the Head</PageTitle>

<h1>Components for Injecting <code>&lt;head&gt;</code> Content</h1>

<p>The <a href="https://learn.microsoft.com/en-us/aspnet/core/blazor/components/control-head-content?view=aspnetcore-8.0" target="_blank"><code>&lt;HeadContent&gt;</code> and <code>&lt;HeadOutlet&gt;</code> components</a> are used to allow individual components to inject particular content in the <code>&lt;head&gt;</code> element of the rendered HTML page. There are some caveates to using these controls (such as in regard to including <a href="https://github.com/dgilleland/UsingJsInterop/blob/master/ReadMe.md" target="_blank"><code>&lt;script&gt;</code> tags</a>), so this is something you may want to defer learning about until you're more comfortable with the whole of how Blazor works.</p>
