@page "/BlazorControls/NavComponent"
@rendermode InteractiveServer

<PageTitle>Blazor Components - Navigation Components</PageTitle>

<h1>Navigation Components</h1>

<p>Blazor's <code>&lt;NavLink&gt;</code> component (see the <NavLink href="https://learn.microsoft.com/en-us/aspnet/core/blazor/fundamentals/routing?view=aspnetcore-8.0#navlink-component" target="_blank">MS docs</NavLink>) works like an <code>&lt;a&gt;</code> element but adds a class to indicate when the link matches the current route. Beyond that, there's not too much to say about this control.</p>
