@page "/BlazorControls/NavComponent"
@rendermode InteractiveServer

<PageTitle>Blazor Components - Navigation Components</PageTitle>

<h1>Navigation Components</h1>

<p>Describe. <i>Click the accordian titles below to view each demo.</i></p>

@code {

}
